@media screen and (min-width: 1200px) {
  header div {
    background: black !important;
    margin-top: -88px !important;
    img {
      opacity: 0.6;
    }
  }
  nav {
    background-color: rgba(255,0,0,0) !important;
    div {
      background-color: rgba(255,0,0,0) !important;
    }
    ul li a {
    color: white;
  }
    // navに余白を作る
    padding: 30px 16px !important;
  
    // アニメーションの変化時間
    transition: 0.5s;
    ul {
  
      li {
        list-style: none;
  
        a {
          text-decoration: none;
          // アニメーションの変化時間
          transition: 0.5s;
        }
      }
    }
  }
  
  // スクロールして.scroll-navクラスがついたときのヘッダーデザイン
  nav.scroll-nav {
    padding: 8px 16px !important;
  	background: #212121 !important;
  	transition: 0.5s;
  }
  
  // 背景が白に変化したのでロゴとナビゲーションの文字を黒にする
  nav.scroll-nav ul li a {
    color: gray;
  }
}