@import url(https://fonts.googleapis.com/css?family=Sacramento);@charset "UTF-8";

body {
  background: #dbe2ef !important;
}

body .card {
  background: #112d4e;
  border-color: #000000;
}

body .card .card-footer {
  border-color: #000000;
}

body .list-group-item {
  background: #112d4e;
  border-color: #000000;
}

h1 {
  font-family: "Sacramento", cursive;
}

nav {
  background: #212121 !important;
}

.second-color {
  background: #393e46;
}

.third-color {
  background: #00adb5;
}

.fourth-color {
  background: #eeeeee;
}

.primary-text-color {
  color: #212121;
}

.secondary-text-color {
  color: #757575;
}

.divider-color {
  color: #BDBDBD;
}

.icon-color {
  color: #000000;
}

.favorites .fas {
  color: pink !important;
}

/* ---------------------------- */

/* --- ハートアニメーション --- */

/* ---------------------------- */

@-webkit-keyframes heartAnimation {
  0% {
    /* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }

  10% {
    transform: scale(0.7);
  }

  30% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(1.5);
  }

  100% {
    /* もとのサイズに戻す */
    transform: scale(1);
  }
}

@keyframes heartAnimation {
  0% {
    /* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }

  10% {
    transform: scale(0.7);
  }

  30% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(1.5);
  }

  100% {
    /* もとのサイズに戻す */
    transform: scale(1);
  }
}

.LikesIcon-fa-heart.heart {
  /* heartAnimationアニメーションを200ミリ秒かけて実行する */
  -webkit-animation: heartAnimation 0.2s;
          animation: heartAnimation 0.2s;
  /* アイコン色を黒から赤へ変更する */
  color: #e2264d;
}

