body {
  background: #dbe2ef !important;
}

body .card {
  background: #112d4e;
  border-color: #000000;
}

body .card .card-footer {
  border-color: #000000;
}

body .list-group-item {
  background: #112d4e;
  border-color: #000000;
}

nav {
  background: #212121 !important;
}

.second-color {
  background: #393e46;
}

.third-color {
  background: #00adb5;
}

.fourth-color {
  background: #eeeeee;
}

.primary-text-color {
  color: #212121;
}

.secondary-text-color {
  color: #757575;
}

.divider-color {
  color: #BDBDBD;
}

.icon-color {
  color: #000000;
}

.favorites .fas {
  color: pink !important;
}

