@media screen and (min-width: 1200px) {
  header div {
    background: black !important;
    margin-top: -88px;
  }

  header div img {
    opacity: 0.6;
  }

  nav {
    background-color: rgba(255, 0, 0, 0) !important;
    padding: 30px 16px !important;
    transition: 0.5s;
  }

  nav div {
    background-color: rgba(255, 0, 0, 0) !important;
  }

  nav ul li a {
    color: white;
  }

  nav ul li {
    list-style: none;
  }

  nav ul li a {
    text-decoration: none;
    transition: 0.5s;
  }

  nav.scroll-nav {
    padding: 8px 16px !important;
    background: #212121 !important;
    transition: 0.5s;
  }

  nav.scroll-nav ul li a {
    color: gray;
  }
}

